@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', Arial; 
    color: #222;
    background: #ffffff;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 16px 24px;

    width: 100%;
    padding-bottom: 20px;
    border-bottom: 1px solid #E0E0E0;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.header__menu{
    display: flex;
    gap: 40px;
    list-style: none;
    
    padding-bottom: 22px;
    margin-bottom: 20px;
}
.header__link{
    text-decoration: none;
    color: #655494;
    font-size: 16px;
}
.header__logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}
.header__left{
    display: flex;
    align-items: center;
    gap: 16px;
}
.header__left input {
    padding: 6px 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.header__right {
    display: flex;
    align-items: center;
    gap: 16px;
}
.header__right img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #392F54;
    color: #FFFFFF;

    padding: 0px 0px;
    gap: 0px;
    margin: 50px;
    min-height: 520px;
}
.hero__link{
    display: inline-block;
    margin-top: 24px;
    padding: 25px 40px;
    background: #655494;
    color: #FFFFFF;
    text-decoration: none;
    border-radius: 10px;
    margin: 15px 0 80px;
}
.hero__image{
    width: 100%;
    height: 100%;
}
.hero__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hero__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding-top: 70px;  
    padding-right: 50px;
    padding-bottom: 120px;
    padding-left: 50px;
}

.tables{
    text-align: center;
    padding: 0 100px;
    margin-bottom: 80px;

}
.tables__list{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}
.tables__item{
    text-align: center;
}
.tables__title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.ceramics__price{
    display: inline-block;
    border-radius: 6px;
    padding: 2px 8px;
    background-color: #2196f3;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
}
.ceramics__list{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}
.ceramics__item{
    text-align: center;
}
.ceramics__title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}
.ceramics__link{
    display: inline-block;
    margin-top: 24px;
    margin-bottom: 80px;
    padding: 25px 40px;
    background: #D9D9D9;
    color: #0a0a0a;
    text-decoration: none;
    border-radius: 10px;
}
.ceramics__collection{
    text-align: center;
}


.chairs__title{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 60px;
}
.chairs__list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 0 24px;
    gap: 40px;
}
.chairs__item{
    text-align: center;
}
.chairs__link{
    display: inline-block; 
    margin-top: 24px;
    margin-bottom: 80px;
    padding: 25px 40px;
    background: #D9D9D9;
    color: #0a0a0a;
    text-decoration: none;
    border-radius: 10px;
}
.chairs__collection{
    text-align: center;
}
.chairs__price {
    display: inline-block;
    border-radius: 6px;
    padding: 2px 8px;
    background-color: #2196f3;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 15px;
}

.crockery{
    text-align: center;
    background-color: #392F54;
    padding: 50px 40px;
    margin: 20px 50px 80px 50px;
    border-radius: 10px;
}
.crockery__title{
    padding: 20px 40px;
    font-size: 28px;
    color: #FCFCFC;
}
.crockery__text{
    margin-top: 0px;
    margin-bottom: 30px;
    color: #E0E0E0;
    font-size: 16px;
}
.crockery__form{
    display: flex;
    justify-content: center;
    gap: 5px;    
}
.crockery__input{
    padding: 22px 32px;
    border: none;
    border-radius: 8px;
    width: 300px;
    font-size: 16px;
    color: #C2C2C2
}
.crockery__button{
    padding: 22px 32px;
    border: none;
    border-radius: 4px;
    background-color: #655494;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 16px;
}

.tableware{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #EDEDED;

    padding: 0px 0px;
    margin-bottom: 0px;
}
.tableware__title{
    padding: 20px 0px;
    font-size: 28px;
    margin-top: 10px;
}
.tableware__text{
    margin-top: 20px;
    margin-bottom: 10px;
}
.tableware__link{
    display: inline-block;
    margin-top: 24px;
    padding: 15px 30px;
    background: #D6D6D6;
    color: #0a0a0a;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}
.tableware__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.tableware__image{
    width: 100%;
    height: 100%;
}
.tableware__content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding-top: 70px;  
    padding-right: 50px;
    padding-bottom: 120px;
    padding-left: 50px;
}

.footer{
    background-color: #392F54;
    color: #ffffff;
}
.footer__top{
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 60px 80px 0 80px;
}

.footer__bottom{
    width: 100%;
    padding-bottom: 16px;
    margin-top: 45px;
    border-top: 1px solid #E0E0E0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__column{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.footer__title{
    font-size: 20px;
    margin-bottom: 16px;
}
.footer__list{
    list-style: none;
    margin-bottom: 12px;
    color: #ffffff;
    font-size: 12px;
}
.footer__list li{
    margin-bottom: 12px;
}
.footer__list a{
    text-decoration: none;
    color: #ffffff;
    font-size: 12px;
    cursor: pointer;
}

.footer__form{
    display: flex;;
}
.footer__input{
    padding: 12px 60px;
    border: none;
    border-radius: 4px;
    width: 200px;
    font-size: 14px;
    margin-right: 8px;
    background-color: #222;
}
.footer__button{
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #392F54;
    cursor: pointer;
}
.footer__bottom {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__socials img{
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-left: 16px;
}
.footer__socials {
    display: flex;
    align-items: center;
}

.footer__copyright {
    white-space: nowrap;
}


h1{
    font-size: 40px;
}
h2{
    font-size: 28px;
    margin-bottom: 10px;
}
h3{
    font-size: 18px;
    margin-bottom: 8px;
}
p{
    font-size: 14px;
    line-height: 1.5;
}
.header__link:hover {
    color: #070745;
}
html {
    scroll-behavior: smooth;
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    background: none;
    border: none;
    cursor: pointer;
}
.menu-toggle__line {
    width: 100%;
    height: 3px;
    background-color: #655494;
    border-radius: 2px;
}

.nav-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 999;
}
.nav-overlay.active {
    opacity: 1;
    visibility: visible;
}


.menu-toggle.active .menu-toggle__line:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active .menu-toggle__line:nth-child(2) {
    opacity: 0;
}

.menu-toggle.active .menu-toggle__line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
}

.menu-toggle__line {
    transition: 0.3s;
}

.scroll-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: none;
    background-color: #655494;
    color: #fff;
    font-size: 24px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

    z-index: 900;
}

.scroll-top.visible {
    opacity: 1;
    visibility: visible;
}

.scroll-top:hover {
    transform: scale(1.1);
}
